@charset "utf-8";

body {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#fullpage {
    height: 100vh;
    overflow: hidden;
}

#fullpage section {
    height: 100vh;
}

#fullpage section:nth-child(1) {
    background-image: url(/media/images/7.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


#fullpage section:nth-child(2) {
    background-color: #4E4CFF;
}